---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import { associates } from "../data/associates";
import type { Company } from "../data/associates";

function shuffleArray(array: Array<Company>) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
}

const shuffledAssociates = associates.slice(0);
shuffleArray(shuffledAssociates);
const alphabeticAssociates = associates.sort((a, b) =>
  a.companyName.localeCompare(b.companyName)
);
const canonicalURL = new URL(
  Astro.url.pathname,
  "https://unioncoruna.com"
).toString();

const socialImageURL = new URL(
  "/images/jAyckLebI-k.webp",
  "https://unioncoruna.com"
).toString();
const meta = {
  title: `Unión Coruña`,
  description: `Grupo de empresas de A Coruña`,
};
---

<Layout
  title="Unión Coruña · Sumando talentos, multiplicando éxitos"
  description="Unión Coruña es una alianza de empresarios que crea sinergias, impulsa el crecimiento conjunto y genera oportunidades para el éxito empresarial."
  metas={[
    { property: "og:url", content: canonicalURL },
    { property: "og:type", content: "website" },
    { property: "og:title", content: meta.title },
    { property: "og:description", content: meta.description },
    { property: "og:image", content: socialImageURL },
    { name: "twitter:card", content: "summary_large_image" },
    { property: "twitter:domain", content: "unioncoruna.com" },
    { property: "twitter:url", content: canonicalURL },
    { name: "twitter:title", content: meta.title },
    { name: "twitter:description", content: meta.description },
    { name: "twitter:image", content: socialImageURL },
  ]}
>
  <div class="bg-white">
    <Header
      title="Unión Coruña"
      slogan="Sumando talentos, multiplicando éxitos."
    />

    <main
      class="bg-gray-50 mx-auto max-w-full py-8 px-4 sm:px-6 lg:px-8 lg:py-16"
    >
      <p class="mb-8 text-xl md:text-2xl leading-8">
        Unión Coruña es un grupo de empresarios que se reúne periódicamente para
        <strong>crear sinergias y cubrir necesidades mutuas</strong>. Esta
        alianza empresarial promueve la colaboración, el intercambio de
        conocimientos y el desarrollo de estrategias innovadoras. A través de
        estos encuentros regulares, los miembros de Unión Coruña fortalecen sus
        redes de contactos, mejoran habilidades y encuentran apoyo para expandir
        sus horizontes empresariales.
      </p>
      <p class="mb-8 text-xl md:text-2xl leading-8">
        La diversidad de perspectivas y conocimientos es un factor clave para su
        éxito. Unión Coruña ofrece un entorno de <strong>apoyo mutuo</strong>,
        donde los miembros se brindan asesoramiento y orientación. Sumando los
        talentos de todos se contribuye al crecimiento y fortalecimiento de cada
        empresa individual.
      </p>
      <p class="mb-8 text-xl md:text-2xl leading-8">
        El objetivo principal del grupo es que sus miembros alcancen el éxito
        empresarial. La suma de sinergias y habilidades particulares son el
        camino elegido para terminar multiplicando el éxito de los integrantes
        del grupo.
      </p>
      <ul
        role="list"
        class="space-y-12 sm:grid sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:gap-x-8"
      >
        {
          alphabeticAssociates.map((associate) => (
            <Card
              companyName={associate.companyName}
              associateName={associate.associate.name}
              description={associate.slogan}
              logoUrl={associate.logoUrl}
              associate={associate.associate}
              href={`/socios/${associate.companySlug}`}
            />
          ))
        }
      </ul>
    </main>
  </div>
</Layout>
