---
import type { Associate, Contact } from "../data/associates";

export interface Props {
  associate: Associate;
  contact: Contact;
  logoUrl?: string;
  companyName: string;
}
const { associate, contact, logoUrl, companyName } = Astro.props;
const webUrl = contact.web?.startsWith("http://")
  ? contact.web
  : `https://${contact.web}`;
const webLabel = contact.web?.startsWith("http://")
  ? contact.web.replace("http://", "")
  : contact.web;
---

<div
  class="relative mx-auto mt-12 max-w-prose text-base lg:mt-0 lg:max-w-none w-full sm:w-auto"
>
  <svg
    class="absolute top-0 right-0 -mt-16 -mr-20 lg:top-auto lg:right-auto lg:bottom-1/2 lg:left-1/2 lg:mt-0 lg:mr-0 xl:top-0 xl:right-0 xl:-mt-20 xl:-mr-20"
    width="404"
    height="384"
    fill="none"
    viewBox="0 0 404 384"
    aria-hidden="true"
  >
    <defs>
      <pattern
        id="bedc54bc-7371-44a2-a2bc-dc68d819ae60"
        x="0"
        y="0"
        width="20"
        height="20"
        patternUnits="userSpaceOnUse"
      >
        <rect
          x="0"
          y="0"
          width="4"
          height="4"
          class="text-gray-200"
          fill="currentColor"></rect>
      </pattern>
    </defs>
    <rect
      width="404"
      height="384"
      fill="url(#bedc54bc-7371-44a2-a2bc-dc68d819ae60)"></rect>
  </svg>
  <section class="relative rounded-lg bg-white shadow-lg">
    <div class="rounded-t-lg px-6 py-8 sm:px-10 sm:pt-10 sm:pb-8">
      {logoUrl && <img src={logoUrl} alt="Workcation" class="h-16 mx-auto" />}
      <!-- <div> -->
      <!-- <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6"> -->
      <!-- <h3 class="text-lg font-medium leading-6 text-gray-900">
          Applicant Information
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Personal details and application.
        </p> -->
      <!-- </div> -->
      <div class="border-t border-gray-200 mt-4 pt-4">
        <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
          {
            contact.formalName && (
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Razón Social:</dt>
                <dd class="mt-1 text-sm text-gray-900">{contact.formalName}</dd>
              </div>
            )
          }
          {
            contact.web && (
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Sitio web:</dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <a href={webUrl}>{webLabel}</a>
                </dd>
              </div>
            )
          }

          {
            contact.email && (
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Correo electrónico:
                </dt>
                <dd class="mt-1 text-sm text-gray-900 break-words">
                  <a href={`mailto://${contact.email}`}>{contact.email}</a>
                </dd>
              </div>
            )
          }
          {
            contact.phone && (
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Teléfono</dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <a href={`tel://${contact.phone}`}>{contact.phone}</a>
                </dd>
              </div>
            )
          }
          <!-- <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Salary expectation
            </dt>
            <dd class="mt-1 text-sm text-gray-900">$120,000</dd>
          </div>
          <div class="sm:col-span-2">
            <dt class="text-sm font-medium text-gray-500">About</dt>
            <dd class="mt-1 text-sm text-gray-900">
              Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim
              incididunt cillum culpa consequat. Excepteur qui ipsum aliquip
              consequat sint. Sit id mollit nulla mollit nostrud in ea officia
              proident. Irure nostrud pariatur mollit ad adipisicing
              reprehenderit deserunt qui eu.
            </dd>
          </div> -->
        </dl>
      </div>
      <!-- </div>
      </div> -->
      <!-- 
      <div class="relative mt-8 text-lg font-normal text-gray-700">
        <svg
          class="absolute top-0 left-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-gray-200"
          fill="currentColor"
          viewBox="0 0 32 32"
          aria-hidden="true"
        >
          <path
            d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"
          ></path>
        </svg> -->
      <!-- <p class="relative">
          Tincidunt integer commodo, cursus etiam aliquam neque, et. Consectetur
          pretium in volutpat, diam. Montes, magna cursus nulla feugiat
          dignissim id lobortis amet. Laoreet sem est phasellus eu proin massa,
          lectus.
        </p>
      </div>
       -->
    </div>
    <div
      class="relative flex items-center rounded-b-lg bg-indigo-700 py-5 px-6 not-italic sm:mt-10 sm:items-start sm:py-5 sm:pl-12 sm:pr-10"
    >
      <span
        class="relative rounded-full border-2 min-w-fit border-white sm:absolute sm:top-0 sm:-translate-y-1/2 sm:transform"
      >
        <!-- src="https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2.5&w=160&h=160&q=80" -->

        <img
          class="h-12 w-12 rounded-full bg-indigo-300 sm:h-20 sm:w-20 object-cover"
          src={associate.imgUrl ?? "/images/avatar/No_avatar.png"}
          alt={associate.name}
        />
      </span>
      <span
        class="relative ml-4 font-semibold leading-6 text-indigo-200 sm:ml-24 sm:pl-1"
      >
        <span class="font-semibold text-white sm:inline">{associate.name}</span>
        <span class="sm:inline">{associate.role} en {companyName}</span>
      </span>
    </div>
  </section>
</div>
